<a href="https://colab.research.google.com/github/alelorys/zadania-z-pandas/blob/main/zadania_z_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Ćwiczenie 1

In [2]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

In [3]:
ser = pd.Series(data = stocks)

In [4]:
ser

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

Ćwiczenie 2

In [5]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

quotations = pd.Series(data= stocks)

print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

Ćwiczenie 3

In [6]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

quotations = quotations.to_list()

print(quotations)

[387.0, 339.5, 349.5, 391.0]

Ćwiczenie 4

In [11]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
price = pd.DataFrame(quotations, columns = ['price'])
print(price)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

Ćwiczenie 5

In [17]:
import numpy as np
import pandas as pd

count = [10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0]
fl = pd.Series(data=count, index = np.arange(101,110))

print(fl)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64